<div class="podium">
  <div class="F">
    <h3>First Place</h3>
    <img src="https://via.placeholder.com/180" alt="" />
    <h4>Franck Ribery</h4>
    <ul>
      <li>
        "C'est vrai qu'on vient de jouer contre une équipe qui sont vraiment
        très forte"
      </li>
      <li>
        "C'est beau ce stade Vélodrome qui est toujours plein à domicile comme à
        l'extérieur"
      </li>
      <li>"Il fait attention pour qu'on a du peps"</li>
    </ul>
  </div>
  <div class="S">
    <h3>First Place</h3>
    <img src="https://via.placeholder.com/180" alt="" />
    <h4>Franck Ribery</h4>
    <ul>
      <li>
        "C'est vrai qu'on vient de jouer contre une équipe qui sont vraiment
        très forte"
      </li>
      <li>
        "C'est beau ce stade Vélodrome qui est toujours plein à domicile comme à
        l'extérieur"
      </li>
      <li>"Il fait attention pour qu'on a du peps"</li>
    </ul>
  </div>
  <div class="T">
    <h3>First Place</h3>
    <img src="https://via.placeholder.com/180" alt="" />
    <h4>Franck Ribery</h4>
    <ul>
      <li>
        "C'est vrai qu'on vient de jouer contre une équipe qui sont vraiment
        très forte"
      </li>
      <li>
        "C'est beau ce stade Vélodrome qui est toujours plein à domicile comme à
        l'extérieur"
      </li>
      <li>"Il fait attention pour qu'on a du peps"</li>
    </ul>
  </div>
</div>
