.podium {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    width: 30vw;
    height: 500px;
  }
  .F,
  .S,
  .T {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      font-size: 1.3em;
      text-align: center;
      margin: 0;
      li {
        list-style-type: none;
        padding: 2%;
      }
    }
  }
  .F {
    background-color: yellow;
  }
  .S {
    background-color: grey;
  }
  .T {
    background-color: orange;
  }
}
