<div class="container">
  <div class="card">
    <img src="../../assets/pictures/jcvd.jpg" alt="" />
    <h1>Jean Claude Vandame</h1>
    <div class="quote">
      <p>
        "Je suis fascine par l'air. Si on enlevait l'air du ciel, tous les
        oiseaux tomberaient par terre....Et les avions aussi."
      </p>
      <button (click)="vote()">
        Vote
      </button>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/pictures/dikkenek.jpg" alt="" />
    <h1>Claudy</h1>
    <div class="quote">
      <p>
        "Ou tu sors, ou j'te sors, hein, mais faudra prendre une décision."
      </p>
      <button (click)="vote()">
        Vote
      </button>
    </div>
  </div>
</div>
