.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: grey;
        width: 40%;
        height: 500px;
        border-radius: 10%;
        .quote{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 250px;
            background: red;
            position: relative;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            p{
                font-size: 1.2em;
                
               
            }
        }
        p:before{
            content: "";
      position: absolute;
      right: 100%;
      top: 26px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 26px solid red;
      border-bottom: 13px solid transparent;
        }
    }
    .versus {
        width: 150px;
        height: 150px;
        background-color: blue;
        border-radius: 50%;
    }
}