h1 {
  color: white;
  text-align: center;
  background-image: url("../../assets/pictures/flower.gif");
  border-radius: 45px;
  font-family: "Righteous", cursive;
  margin: 2.5% auto;
  width: 50%;
  height: 21vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  text-transform: uppercase;
  text-shadow: 0em 0em 4px black;
}
