footer {
  font-family: "Righteous", cursive;
  color: #336d83;
  border-radius: 40px;
  // background-image: url("../../assets/pictures/footer.jpg");

  p {
    text-align: center;
    font-size: 2em;
    padding: 1px;
    margin: 0;
  }
  ul {
    font-family: "Righteous", cursive;
    display: flex;
    justify-content: space-around;
    li {
      list-style: none;
      font-size: 1.8em;
      padding: 1px;
    }
  }
}
