{% extends 'base.html.twig' %}

{% block title %}New Citations{% endblock %}

{% block body %}
    <h1>Create new Citations</h1>

    {{ include('citations/_form.html.twig') }}

    <a href="{{ path('citations_index') }}">back to list</a>
{% endblock %}
